.container {
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 50;
  margin-top: 120px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  cursor: default;
}

.text > span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--green);
  text-align: center;
}

.text > h3 {
  font-size: 2rem;
  color: var(--white);
  letter-spacing: -1%;
  text-align: center;
  line-height: calc(2rem * 1.2);
  margin-top: 8px;
}

.previsualize {
  width: auto;
  gap: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  position: relative;
}

.previsualize > span {
  color: var(--white);
  font-weight: 300;
  opacity: 0.75;
  line-height: calc(1rem * 1.2);
  user-select: none;
  cursor: default;
  margin-bottom: 24px;
}

.previsualize_item {
  width: auto;
  height: auto;
  display: flex;
  gap: 192px;
  padding: 16px;
  color: var(--white);
  border: 1px solid var(--green);
  border-radius: 8px;
}

.previsualize_number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.previsualize_number > span {
  user-select: none;
  cursor: default;
}

.previsualize_number > input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;
}

.previsualize_dropdown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  user-select: none;
  width: 125px;
}

.previsualize_dropdown > svg {
  height: 18px;
  width: auto;
}

.previsualize_down {
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.previsualize_down > svg {
  width: 100%;
  height: auto;
}

.previsualize_sub {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform-origin: top center;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  z-index: 50;
}

.previsualize_sub_item {
  background-color: rgba(31, 31, 31, 0.75);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  padding: 8px 4px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.previsualize_sub_item:hover {
  background-color: rgba(51, 51, 51, 0.75);
}

.previsualize_sub_item > svg {
  height: 18px;
  width: auto;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  user-select: none;
  margin-top: 24px;
}

.restart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  cursor: pointer;
  margin: 18px 0;
}

.restart > svg {
  height: 100%;
  width: auto;
}

.cta {
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: var(--green);
  color: var(--black);
  padding: 12px 0;
  font-weight: 600;
  border-radius: 8px;
  line-height: calc(1rem * 1.2);
  cursor: pointer;
  width: 175px;
  box-shadow: 0 0 4px var(--green);
  transition: all 200ms ease-in-out;
}

.cta:hover {
  box-shadow: 0 0 10px var(--green);
}

.secondary_cta {
  border: 2px solid var(--green);
  font-size: 1rem;
  outline: none;
  background-color: var(--black);
  color: var(--green);
  padding: 12px 0;
  font-weight: 600;
  border-radius: 8px;
  line-height: calc(1rem * 1.2);
  cursor: pointer;
  width: 175px;
  box-shadow: inset 0 0 4px var(--green);
  transition: all 200ms ease-in-out;
}

.secondary_cta:hover {
  box-shadow: inset 0 0 10px var(--green);
}

.decoration_usdc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.decoration_usdc > svg {
  height: 100%;
  width: auto;
  opacity: 0.7125;
  animation: pulse 10s linear infinite;
}

.decoration_usdc > svg > g > path {
  fill: var(--black-shade);
}

@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {
  .previsualize_item {
    gap: 96px;
  }
  .previsualize {
    margin-top: 24px;
  }
}

@media screen and (max-width: 520px) {
  .text > h3 {
    font-size: 24px;
    line-height: calc(24px * 1.2);
  }

  .previsualize_item {
    gap: 48px;
  }

  .cta,
  .secondary_cta {
    width: 150px;
  }
}

@media screen and (max-width: 452px) {
  .previsualize_item {
    gap: 24px;
  }

  .previsualize_number > input {
    width: 150px;
  }

  .buttons {
    flex-direction: column;
    gap: 16px;
  }

  .decoration_usdc {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .previsualize_number > input {
    width: 100px;
  }
}

@media screen and (max-width: 316px) {
  .previsualize_number > input {
    width: 50px;
  }
}
