.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 0;
  background-color: var(--green);
  margin-top: 80px;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.logo {
  height: 42px;
}

.logo > svg {
  height: 100%;
  width: auto;
}

.logo > svg > path {
  fill: var(--black);
}

.navigation {
  width: 100%;
  max-width: 1280px;
}

.navigation > ul {
  display: flex;
  list-style: none;
  gap: 64px;
  font-size: 1rem;
}

.navigation > ul > li {
  text-decoration: none;
  color: var(--black);
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.navigation > ul > li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--black);
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.navigation > ul > li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.line {
  width: 100%;
  max-width: 1280px;
  background-color: var(--black);
  height: 1px;
}

.links {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
}

.contact > ul {
  display: flex;
  list-style: none;
  gap: 64px;
  font-size: 1rem;
}

.contact > ul > li > a {
  text-decoration: none;
  color: var(--black);
  display: inline-block;
  position: relative;
  user-select: none;
}

.contact > ul > li > a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--black);
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.contact > ul > li > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.copyright > p {
  user-select: none;
  cursor: default;
  font-size: 0.75rem;
}
