.container {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
  position: relative;
  background-image: linear-gradient(transparent 5%, var(--black) 95%),
    linear-gradient(90deg, transparent 90%, #5adef01f 90%),
    linear-gradient(0deg, #5adef01f 10%, transparent 10%);
  background-size: auto auto, 15px 15px, 15px 15px;
}

.content {
  width: 100%;
  padding: 1rem;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  user-select: none;
  cursor: default;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text > span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--green);
  text-align: center;
}

.text > h1 {
  font-size: 52px;
  color: var(--white);
  letter-spacing: -1%;
  text-align: center;
  line-height: calc(52px * 1.2);
  margin-top: 8px;
  margin-bottom: 24px;
}

.text > p {
  opacity: 0.9;
  font-size: 1rem;
  font-weight: 300;
  color: var(--white);
  text-align: center;
}

.cta {
  border: 2px solid var(--green);
  font-size: 1rem;
  outline: none;
  background-color: var(--black);
  color: var(--green);
  padding: 12px 36px;
  font-weight: 600;
  border-radius: 8px;
  line-height: calc(1rem * 1.2);
  cursor: pointer;
  box-shadow: inset 0 0 4px var(--green);
  transition: all 200ms ease-in-out;
}

.cta:hover {
  box-shadow: inset 0 0 10px var(--green);
}

.scroll {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  animation: scrollDown 0.875s linear 4s infinite;
}

.scroll > svg {
  height: 80%;
  width: auto;
}

@keyframes scrollDown {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(-8px) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}
